# Google Sheets API Config (EJEMPLO - NO PONER LLAVES REALES ACÁ)
GOOGLE_CLIENT_EMAIL="tu-email-de-servicio@proyecto.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ntu_clave_privada_va_aca\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_ID="tu_id_de_planilla_aca"

# App Config
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=un_secreto_largo_y_aleatorio
